PROJECT_NAME=CIAP API
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/ciap
REDIS_URL=redis://localhost:6379/0
SECRET_KEY=yadayada-change this-lol
ACCESS_TOKEN_EXPIRE_MINUTES=60
